body {
  background-color: rgb(103, 4, 103);
}

#navBar {
  background-color: rgb(103, 4, 103);
  padding: 1rem;
}

#navBar ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 20px;
}

#navBar ul li {
  margin-right: 13px;
}
#navBar ul li a {
  text-decoration: none;
  color: rgb(199, 199, 199);
}

#navBar ul li a:hover {
  color: rgb(247, 68, 200);
  filter: drop-shadow(0.1em 0.1em 0.1em black);
}

#logIn {
  color: rgb(217, 30, 167);
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin: 0 auto;
  align-items: center;
  margin-top: 8em;
  border: 1px;
  border-radius: 25px;
  padding-left: 3px;
  padding-right: 3px;
  background-color: rgb(103, 4, 103);
  filter: drop-shadow(0em 0.75em 20px black);
}

h2 {
  /*filter: drop-shadow(0.1em 0.1em 0.1em black);*/
  margin-bottom: 35px;
  margin-top: 40px;
  font-size: 40px;
}

#idInput {
  border: none;
  border-radius: 6px;
  margin-bottom: 20px;
  padding-left: 25;
  background-color: rgb(211, 211, 211);
}

#pwInput {
  border: none;
  border-radius: 6px;
  margin-bottom: 10px;
  background-color: rgb(211, 211, 211);
}
#submitbutt {
  /*filter: drop-shadow(0.3em 0.2em 0.2em black);*/
  border: none;
  border-radius: 12px;
  margin-bottom: 30px;
  margin-top: 20px;
  padding: 9px;
  background-color: rgb(211, 211, 211);
  color: rgb(126, 126, 126);
}
#submitbutt:hover {
  color: rgb(176, 176, 176);
  background-color: rgb(217, 30, 167);
}
